services:
  app:
    environment:
      DATABASE_ECHO: true
      STREAMLIT_APP_CREATE_ALL_TABLES: true
      STREAMLIT_SERVER_RUN_ON_SAVE: true
    develop:
      watch:
        - path: ../streamlit
          target: /app/
          action: sync
        - path: ../{{ cookiecutter.project_slug }}/
          target: /app/{{ cookiecutter.project_slug }}/
          action: sync

  postgres:
    volumes:
      - postgres-db-volume-{{cookiecutter.project_name}}-debug:/bitnami/postgresql

volumes:
  postgres-db-volume-{{cookiecutter.project_name}}-debug:
